
.sbHolder {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #ffffff;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    /* height: 30px; */
    position: relative;
    width: auto;

}

.sbHolder:focus,
.sbSelector:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

.sbHolder .sbSelector {
    font-family: 'Proxima Nova';
    font-weight: bold;
    font-size: 27px;
    padding-right: 25px;
    /* padding-right: 30px; */
    background-image: url("../images/icons/drop_dwn_arrow.png");
    background-repeat: no-repeat;
    background-size: 17px auto;
    background-position: right center;
    width: 100%;
}

.sbHolder .sbSelector {
    font-size: 33px;

}

.sbHolder {
    /* min-height: 37px; */
    /* min-width: 260px; */
}

.sbHolder:focus .sbSelector {
    box-shadow: none;
    -webkit-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
}

.sbSelector {
    display: inline-block;
    height: auto;
    left: 0;
    /* overflow: hidden; */
    position: relative;
    width: auto;
}

.sbSelector:link,
.sbSelector:visited,
.sbSelector:hover {
    color: #ffffff;
    outline: none;
    text-decoration: none;
}

.sbHolder {
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    /* max-width: 280px; */
    max-width: inherit;
    min-width: 150px;
    width: auto;
}
.sbToggle {
    background-image: url("../images/icons/drop_dwn_arrow.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: block;
    height: 15px;
    outline: medium none;
    position: absolute;
    right: 0;
    top: 10px;
    width: 18px;
    display: none;
    background-position: center right;
}

.sbHolderDisabled {
    background-color: #3C3C3C;
    border: solid 1px #515151;
}

.sbHolderDisabled .sbHolder {}

.sbHolderDisabled .sbToggle {}

.sbOptions {
    background-color: #000000;
    list-style: none;
    left: 0px;
    margin: 0;
    padding: 5px 0;
    position: absolute;
    top: 102% !important;
    width: 100%;
    z-index: 10;
    overflow-y: auto;
    color: #ffffff;
    font-size: 16px;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: normal;
    line-height: 24px;
}

.sbOptions li {
    padding: 0 15px;
}

.sbOptions a {
    display: block;
    outline: none;
    /*! padding: 3px 0 4px 0px; */
}

.sbOptions a:link,
.sbOptions a:visited {
    color: #ddd;
    text-decoration: none;
}

.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus {
    color: #1fab5b;
}

.sbOptions li.last a {
    border-bottom: none;
}

.sbOptions .sbDisabled {
    border-bottom: dotted 1px #515151;
    color: #999;
    display: block;
    padding: 7px 0 7px 3px;
}

.sbOptions .sbGroup {
    border-bottom: dotted 1px #515151;
    color: #EBB52D;
    display: block;
    font-weight: bold;
    padding: 7px 0 7px 3px;
}

.sbOptions .sbSub {
    padding-left: 17px;
}

.sbOptions,
.drop-sec .sbOptions {
    /* min-width: 170px; */
}

.sbHolder .sbOptions li {
    /* padding: 3px 15px; */
    padding: 0px 15px;
}