/*a.arrow {
    display: block;
    height: 100%;
}
a.arrow span {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
    -webkit-box-align: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
    height: 100%;
}
a.arrow span img {
    margin: 0 auto;
    display: block;
}

#listingTable_paginate {
    display: flex;
    justify-content: flex-end;
    margin-top: 0px;
    margin-bottom: 20px;
    padding: 15px;
}
#listingTable_paginate > .paginate_button, #userListingTable_paginate > span >.paginate_button {
    display: inline-block;
    width: 40px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-top: 1px solid #9b9b9b;
    border-bottom: 1px solid #9b9b9b;
    border-left: 1px solid #9b9b9b;
    color: #4361a5;
    font-size: 19px;
    cursor: pointer !important;
}*/
/*------------ pegination -----------*/

    /*.pagination>li .arrow {
        position: relative;
    }

    .pagination>li .arrow img {
        top: -2px;
        position: relative;
    }

    .pagination>li>a,
    .pagination>li>span ,
    #listingTable_paginate > .paginate_button,
    #listingTable_paginate .ellipsis,
    #listingTable_paginate > span >.paginate_button{
        color: #ababab;
        font-size: 19px;
        border-radius: 0px !important;
        width: 55px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        display: inline-block;
        border-top: 1px solid #9b9b9b;
        border-bottom: 1px solid #9b9b9b;
        border-left: 1px solid #9b9b9b;
        cursor: pointer !important;
    }
    #listingTable_paginate > .paginate_button:last-child {
        border-right: 1px solid #9b9b9b;

    }
    .pagination>.active>a,
    .pagination>.active>a:focus,
    .pagination>.active>a:hover,
    .pagination>.active>span,
    .pagination>.active>span:focus,
    .pagination>.active>span:hover .pagination>li>a:focus,
    .pagination>li>a:hover,
    .pagination>li>span:focus,
    .pagination>li>span:hover,
    #listingTable_paginate > .paginate_button:hover,
    #listingTable_paginate .ellipsis:hover, 
    #listingTable_paginate > span >.paginate_button:hover ,
    #listingTable_paginate > .paginate_button:active,
    #listingTable_paginate .ellipsis:active, 
    #listingTable_paginate > span >.paginate_button:active ,
    #listingTable_paginate > .paginate_button:focus,
    #listingTable_paginate .ellipsis:focus, 
    #listingTable_paginate > span >.paginate_button:focus,
    #listingTable_paginate > span >.paginate_button.current,
    #listingTable_paginate .ellipsis.active, 
    #listingTable_paginate > span >.paginate_button.current 
    {
        color: #4361a5;
        cursor: pointer;
        background-color: #f4f7ff;
        border-color: #9b9b9b;
        z-index: auto;
    }*/

    /*------------ pegination -----------*/

 /* -------- toggle button ------ */
    .switch {
        position: relative;
        display: inline-block;
        width: 70px;
        height: 30px;
        margin-bottom: 0px;
    }

    .switch input[type="checkbox"] {
        display: none;
    }

    .switch input:checked+.knob {
        background-color: #285cad;
        border-color: #285cad;
    }

    .switch input:checked+.knob:before {
        transition: all 0.4s;
        left: 43px;
    }
    .switch input+.knob:before {
        transition: all 0.4s;
        left: 5px;
    }

    .knob {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(112, 127, 184, 0.15);
        border-radius: 30px;
        border: 1px solid rgb(112, 127, 184);

    }

    .knob:before {
        position: absolute;
        background-color: white;
        content: "";
        left: 6px;
        top: 3px;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        box-shadow: 0px 2px 5px 0px #434343;
    }
    .toggle-group {
        padding-bottom: 50px;
        margin-bottom: 0px;
    }
    .toggle-group.panel-group .panel+.panel,
    .toggle-group.panel-group .panel {
        margin-top: 0px;
        border: none;
        border-radius: 0;
    }
    .toggle-group .panel-default>.panel-heading {
        background-color: #fff;
        padding: 0px;
    }
    .knob em {
        font-size: 13px;
        font-family: 'Proxima Nova regular';
        font-weight: normal;
        position: relative;
        display: block;
        text-align: right;
        font-style: normal;
        line-height: 25px;
        padding-right: 10px;
    }
    .sub-menu.switch input:checked+.knob em {
        text-align: left;
        padding-right: 0px;
    }
    .sub-menu .knob {
        text-indent: 10px;
        text-align: right;
        background-color: #707FB8;
    }
    .knob:hover {
        cursor: grab;
    }
    .knob:focus,
    .knob:active{
        cursor: grabbing;
    }

    /* Added by swati */
    .help-block.with-errors
    {
        display: none; 
    }
    .has-error .help-block.with-errors
    {
        display: block;
        margin: 0px;
        transition  :all 0.3s ease-in-out

    }
    .has-error .help-block.with-errors .list-unstyled {  
        margin: 0;
        font-size: 14px;
    }
    .card table>thead>tr>th a{
        color: #4a4a4a;
    }

.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list-group-item .label-anchor{
    display: flex;
    align-items: center;
}
.list-group-item .label-anchor a{
    margin-left: 10px;
}

.dashboard-h1 {

 font-size: 34px;
 text-align: center;
 margin: 0 0 50px 0;
 font-weight: 600;
 line-height: 69px;
}
.dashboard-h1  span {
 color: #3c8dbc;
 position: relative;
}
.dashboard-h1 small {
 font-size: 16px;
 letter-spacing: 1.2px; color: #000;
}
.dashboard-h1 ::after {
 content: "";
 width: 50px;
 height: 3px;
 background-color: #3c8dbc;
 position: absolute;
 bottom: -20px;
 left: 50%;
 transform: translate(-50%,0);
}


    /* End */